h1 {
    text-align: center;
    color: rgb (29,29,29);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: left;
    color: rgb(0,0,0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
}

body {
    background-color: #ffff;
    margin: 0;
}


#imgsobrenos {
    margin-top: 20px ;
    margin-bottom: 30px ;
    border-radius: 10px;
    
}

#section_imgssobrenos{
    text-align: center;
    padding-top: 80px;
}

.section_sobrenos {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color:rgb( 225,255,255) ;
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px;
    display: flex;
}



