h1 {
    text-align: center;
    color: rgb(29, 29, 29);
    font-family: Arial;
}

p {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: medium;
}

body {
    background-color: #ffff;
    margin: 0;
}

#imgoqueé {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#section_imgoqueé {
    text-align: center;
    padding-top:80px;
}

.section_oqueé {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px;
    display: flex;
    font-size: medium;
}

#div_oqueé {
    display: flex;
    padding: 10px;
}

.section_oqueé2 {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px;
    display: flex;
    font-family: Arial;
    font-size: medium;
}

#div_oqueé2 {
    display: flex;
    padding: 10px;
}

#title_oqueé {
    text-align: center;
    padding-left: 10px;
    font-family: Arial;
}

#section_background {
    
    margin-top: -100px;
    background-repeat: no-repeat;
    background-size: cover;
}


#texto-central {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    font-size: x-large;
    padding-top: 290px;
    color: white;
}

.p_1{
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: medium;
    padding-top: 15px;
}


#img_chapeu{
    margin-left: 50px;
}

#text_credits {
    color: gray;
    font-size: 13px;

}

.text_publicado {
    padding-left: 205px;
    padding-bottom: 15px;
}

.text_date {
    padding-left: 10px;
    color: gray;
}

#section_credits {
    margin-left: 365px;
    margin-top: -290px;
}

h3 {
    text-align: center;
    color: rgb(29, 29, 29);
    font-family: Arial;
    font-size: xx-large;
    margin-top: -190px;
    padding-bottom: 10px;
    
}


