/* ediçao h1*/
h1 {
    text-align: center;
    color: rgb(29, 29, 29);
    font-family: Arial;
}
/* ediçao paragrafo */
p {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: medium;
}
/* ediçao do body*/
body {
    margin: 0;
}
/* ediçao da imagem diferença */
#imgdiferenca {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}
/* ediçao section imagem diferença*/
#section_imgdiferenca {
    text-align: center;
    padding-top:80px;
}
/* ediçao section diferença */
.section_diferenca {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px;
    font-size: medium;
    display: flex;
}
/* ediçao div diferença */
#div_diferenca {
    display: flex;
    padding: 10px;
}
/* ediçao section diferença 2 */
.section_diferenca2 {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px;
    display: flex;
    font-family: Arial;
    font-size: medium;
}
/* ediçao div diferença 2 */
#div_diferenca2 {
    display: flex;
    padding: 10px;
}
/* ediçao titulo diferença */
#title_diferenca {
    text-align: center;
    padding-left: 10px;
    font-family: Arial;
}
/* ediçao background */
#section_background {
    margin-top: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ediçao texto central */
#texto-central {
    text-align: center;
    font-size: x-large;
    color: white;
}
/* ediçao do p_1*/
.p_1{
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: medium;
    padding-top: 15px;
}

/* ediçao imagem do chapeu */
#img_chapeu{
    margin-left: 50px;
}

#text_credits {
    color: gray;
    font-size: 13px;

}

.text_publicado {
    padding-left: 205px;
    padding-bottom: 15px;
}

.text_date {
    padding-left: 10px;
    color: gray;
}

#section_credits {
    margin-left: 365px;
    
}

h3 {
    text-align: center;
    color: rgb(29, 29, 29);
    font-family: Arial;
    font-size: xx-large;
    margin-top: -190px;
    padding-bottom: 10px;
    
}

.section_noticias {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 40px;
    padding-top: 15px;
    padding-left: 15px;
    width: 940px;
    margin-left: 15px;
}

.img_noticias {
    padding-top: 10px;
    padding-bottom: 10px;
}

.img_textN {
    display: flex;
}

.text_noticias {
    padding-left: 15px;
    color: gray;
}

.text_publicado {
    padding-left: 205px;
    padding-bottom: 15px;
}

.icon_text {
    display: flex;
}

.img_stars {
    padding-top: 18px;
    padding-left: 10px;
}

.text_date {
    padding-left: 10px;
    color: gray;
}

.title_categorias {
    background: linear-gradient(to bottom, #32425b 5%, #32425b 100%);
    background-color: #32425b;
    border-radius: 42px;
    border: 4px solid #32425b;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 9px 9px;
    text-decoration: none;
    margin-right: 550px;
}

.title_categorias:hover {
    background: linear-gradient(to bottom, #32425b 5%, #32425b 100%);
    background-color: #32425b;
}

.title_categorias:active {
    position: relative;
    top: 1px;
}

.title_noticias {
    text-align: left;
}
 
a {
    text-decoration: none;
}

#article_comentarios {
    display: flex;
    margin-right: 45px;
    margin-left: 16px;
    margin-top: 220px;
}

.borda_comentarios {
    resize: none;
   
}
 
.class_h3 {
    margin-left: 45px;
    font-family: arial;
    padding-bottom: 20px;
}


