h1 {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffff;
    margin: 0;
}

#imgmetodos {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#section_imgmetodos {
    text-align: center;
    padding-top: 80px;
}

.section_metodos {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px;
    display: flex;
}

#div_metodos {
    display: flex;
    padding: 10px;
}

.section_metodos1 {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px;
    display: flex;
}

#div_sobrenos1 {
    display: flex;
    padding: 10px;
}

#title_metodos {
    text-align: center;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.section_metodos {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    border-radius: 10px;
}

.div_metodos {
    display: flex;
    text-align: center;
    border-radius: 10px;
}

.text_metodos {
    text-align: justify;
    text-align: center;
}

#title_metodos {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 80px;
}



#header {
    height: 250px;
}

#section_background {
    margin-top: -200px;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
}

#texto-central {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    margin-top: -90px;
}

.p_1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

#div_apps {
    text-align: justify;
    margin: 0 auto;
    width: 50em;
    font-family: Arial, Helvetica, sans-serif;

}

#div_apps2 {
    font-family: Arial, Helvetica, sans-serif;

}

.pai_article {
    text-align: justify;
    margin: 0 auto;
    width: 50em;
    font-family: Arial, Helvetica, sans-serif;

}

#footer {
    height: 550px;
}

.section_apps2 {
    font-family: Arial, Helvetica, sans-serif;

}