body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #203f6f;
    margin: 0;
}

h1 {
    border-left: 5px #ffffff solid;
    padding-left: 15px;
    margin-left: 10px;
    font-size: 60px;
    color: #ffffff;
}

.titles_esportes {
    border-left: 5px #32425B solid;
    padding-top: 10px;
    padding-left: 5px;
    margin-left: 10px;
    font-size: 35px;
    color: #4b6082;
}
