body{
    background-color: rgb(93, 145, 186);
    margin: 0;
    padding: 90px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    border-radius: 50px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -25px;
}

#footer {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom:-5px;
}

#Enviar{
    text-align: center;
    width: 60px;
    border-radius: 20px;
    background-color: #7bafd6;
    border: white;
    margin: auto;
    margin-top: 5px;
    color: white;
    margin-bottom: 10px;
}

input {
    margin-bottom: 8px;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    margin-top: 80px;
    margin-bottom: -90px;
    margin-left: 60%;

}

#footer {
    width: 100%;
    margin: 5%;
    padding: 0;
    margin-bottom: -100px;
}

#header {
    margin-top: -100px;
    margin-left: -80px;
    margin-right: -60px;
    width: 115%;
    height: 200px; 
}


label{
    margin-right: 90%;
}