body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

h1 {
    margin-left: 30px;
}

#section_conectese {
    margin-top: 200px;
    margin-left: 90px;
}

#title_conectese {
    color: #32425B;
}