h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: justify;
}

body {
    background-color: #ffff;
    margin: 0;
    padding: 0;
}

#section_background {
    background-image: url("../../../images/esportes/banner\ esporte\ 3.jpg");
    margin-top: -100px;
    background-repeat: no-repeat;
    background-size: cover;
}

#texto-central {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.p_1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-top: 70px;
}

#imgesportes {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#section_imgesportes {
    text-align: center;
    padding-top: 80px;
}

#section_esportes {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px;
    display: flex;
    color: white;
}

#div_esportes {
    display: flex;
    padding: 10px;
}

.section_esportes1 {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px;
    display: flex;
}

#div_esportes1 {
    display: flex;
    padding: 10px;
}

#title_esportes {
    text-align: center;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.section_artigos {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.div_artigos {
    display: flex;
    text-align: center;
}

.text_artigos {
    text-align: justify;
    text-align: center;
}

#title_artigos {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}

#title_esportes {
    color: #ffff !important;
    transition: 1s;
    transform: scale(1.0);
}

#text_esportes {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff !important;
    transition: 1s;
    transform: scale(1.0);
}

@keyframes fadeInOutAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeInOut {
    cursor: pointer;
    animation: fadeInOutAnimation 5s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

#header {
    height: 250px;
}

#footer {
    margin-bottom: -5px;
}

#img_esportes {
    padding-left: 20px;
}