body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0e1a2c;
    margin: 0;
}

h1 {
    border-left: 5px #ffffff solid;
    padding-left: 15px;
    margin-left: 10px;
    font-size: 60px;
    color: #ffffff;
}

.titles_esportes {
    border-left: 5px #32425B solid;
    padding-top: 10px;
    padding-left: 5px;
    margin-left: 10px;
    font-size: 35px;
    color: #32425B;
}

.sections_esportes {
    -webkit-box-shadow: 0px 3px 19px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 19px -1px rgba(0,0,0,0.75);
box-shadow: 0px 3px 19px -1px rgba(0,0,0,0.75);
    width: 95%;
    height: 470px;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
}

#article_esportes {
    justify-content: space-between;
    text-align: center;
    display: flex;
}

#img_futebol {
    width: 350px;
}

#img_volei {
    width: 355px;
}

#img_basquete {
    width: 365px;
}

.titles_artigos {
    border-left: 5px #32425B solid;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 35px;
    color: #32425B;
}

.sections_artigos {
    background-color: white;
    -webkit-box-shadow: 0px 3px 19px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 19px -1px rgba(0,0,0,0.75);
box-shadow: 0px 3px 19px -1px rgba(0,0,0,0.75);
    border-right: 5px #32425B solid;
    border-bottom: 5px #32425B solid;
    height:150px;
    margin-left: 15px;
    margin-right: 15px;
}

.texts_artigos {
    padding-left: 10px;
}

.sections_esportes:hover {
    transform: scale(1.1);
    transition: 2s;
}

.sections_artigos:hover {
    transform: scale(1.1);
    transition: 2s;
}

#busca {
    background-color: #ffffff;
    border: solid 2px #768AA5;
    border-radius: 5px;
    width: 500px;
    height: 40px;
    margin-left: 650px;
    margin-top: 50px;
}

#text_busca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 15px;
    border: none;
    width: 191px;
    height: 32px;
}

#button_busca {
    border: none;
    float: left;
    width: 72px;
    height: 40px;
    border-radius: 0 7px 7px 0;
    font-weight: bold;
    padding-left: 5px;
}

#title_busca {
    display: flex;
} 

#busca img {
    float: left;
}

#footer {
    width: 100%;
    margin-bottom: -10px;
    margin-right: 0px;
    margin-left: 0px;
}