<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link href="../layouts/footer.css" rel="stylesheet">
</head>

<body>
    <footer class="main_footer container">
      
        <div class="content">
            <div class="colfooter">
                
                <div class="titleFooter"> <span class="icon icon-world"></span> Menu</div>
                <ul>
                
                  <li><a href="#" title="Página Inícial">Página Inícial</a></li>
                  <li><a href="#" title="Html5">Esportes</a></li>
                  <li><a href="#" title="Css3">Tecnologia</a></li>
                  <li><a href="#" title="jQuery">Saúde e bem estar</a></li>
                  <li><a href="#" title="WordPress">Cinema</a></li>
                  <li><a href="#" title="Fale Conosco">Vestibular</a></li>
                
                </ul>
            </div><!--Col Footer 1-->        
            <div class="colfooter">
               
              <div class="titleFooter"> <span class="icon icon-share-outline"></span> Redes Sociais</div> 
              <a href="#" class="redesocial"><span> <i class="icon icon-facebook"></i> /Instagram</span></a>            
              <a href="#" class="redesocial"><span> <i class="icon icon-instagram"></i> /Linkedin</span></a>            
              <a href="#" class="redesocial"><span> <i class="icon icon-twitter"></i> /Twitter</span></a>                       
            </div><!--Col Footer 2-->
            <div class="colfooter">
               
              <div class="titleFooter"> <span class="icon icon-bubble-2"></span> Atendimentos</div>
              <p><i class="icon icon-mail"></i> codethree@gmail.com.br</p>
              <p><i class="icon icon-phone"></i> 21 90000-0000</p>
              <p><i class="icon icon-whatsapp"></i> 21 90000-0000</p>
            </div><!--Col Footer 3-->
            <div class="colfooter">
               
              <div class="titleFooter"> <span class="icon icon-mail-3"></span> Contato</div>  
              
                <form class="my-formulario" action="#" method="post">
                        
                     <label class="label">
                                      
                           <input class="effect-line" type="text" placeholder="Seu nome" autocomplete="off">
                           <span class="focus-border"></span>
                                  
                     </label>
                      <label class="label">
                                      
                           <input class="effect-line" type="text" placeholder="Seu e-mail" autocomplete="off">
                           <span class="focus-border"></span>
                                  
                      </label>
                      <label class="label">
                                      
                           <input class="effect-line" type="text" placeholder="Seu assunto" autocomplete="off">
                           <span class="focus-border"></span>
                                  
                      </label>
                      <label class="label">
                                      
                          <textarea class="effect-line" name="mensagem" placeholder="Deixe sua mensagem" rows="2" autocomplete="off"></textarea>
                          <span class="focus-border"></span>
                                  
                      </label>
                      <input type="hidden" name="acao" value="enviar">
                      <button class="btn-enviar" title="Enviar">Enviar</button>
                </form>
            </div><!--Col Footer 4-->
            <div class="clear"></div>
        
        </div><!--Contant-->
        <div class="main_footer_copy">
            
            <p class="m-b-footer"> CodeThree - 2023, todos os direitos reservados. ©</p> 
            <p class="by"><i class="icon icon-heart-3"></i> Desenvolvido por: <a href="#" title="Seu nome">CodeThree</a></p>
        
        </div>
    </footer>

</body>

</html>