<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="../layouts/footer.css" rel="stylesheet">
</head>
<body>
    <footer>
        <h1>Todos os direitos reservados © 2023</h1>
        <section id="section_img">

            <a href="https://linktr.ee/codethree" target="_blank">
                <img src="../assets/images/Footer/VafJwQLdQ7GWsKDBM3db_mEZ1UKFG9MclHbX6.jfif" width="30px" height="30px">
            </a>
        </section>
    </footer>
</body>
</html>