<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="../layouts/header.css" rel="stylesheet">
</head>
<body>
    <header>
        <div id="div_1">
            <section id="section_1">
                <img src="../assets/images/header/logo.png" width="130">
            </section>
        </div>
        <nav>
            <ul>
                <li><a class="anav_1" href="../index.html" target="_parent">Home</a></li>
                <li><a class="anav_2" href="../pages/sobre nós/sobre-nos.html" target="_parent">Sobre Nós</a></li>
                <li><a class="anav_3" href="../pages/contato.html" target="_parent">Contato</a></li>
                <li><a class="anav_4" href="../pages/feedback.html" target="_parent">Feedback</a></li>

                
            </ul>
        </nav>
    </header>
    
</body>
</html>