header{
    background-color:#32425B;
    height: 100% ;
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 15px;
}

#section_1 {
    text-align: center;
}

#div_1{
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}

.anav_1 {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: large;
    padding: 10px;
    border: 5px;
}
.anav_2 {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: large;
    padding: 10px;
    border: 5px;
}
.anav_3{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: large;
    padding: 10px;
    border: 5px;
}

.anav_4 {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: large;
    padding: 10px;
    border: 5px;
}

nav ul {
    list-style: none;
    margin: 0%;
    padding: 0;
    display: flex;
}

nav li{
    margin-right: 30px;
    margin-top: 30px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.anav_1:hover {
    background-color:  rgb(92, 121, 146);
    transition: 1s;
    border-radius: 10px;

}

.anav_2:hover {
    background-color: rgb(92, 121, 146);
    transition: 1s;
    border-radius: 10px;
}

.anav_3:hover {
    background-color: rgb(92, 121, 146);
    transition: 1s;
    border-radius: 10px;
}

.anav_4:hover {
    background-color: rgb(92, 121, 146);
    transition: 1s;
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
}
img {
    margin-top: 10px;
}

