<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="../layouts/header.css" rel="stylesheet">
    <title>Header</title>
</head>

<body>
    <header>
        <h1>C3 News</h1>

        <nav>
            
               <a class="anav_1" href="../index.html" target="_parent">Home</a>
               <a class="anav_2" href="../pages/sobre-nos/sobre-nos.html" target="_parent">Sobre Nós</a>
               <a class="anav_3" href="../pages/contato.html" target="_parent">Contato</a>
               <a class="anav_4" href="../pages/feedback.html" target="_parent">Feedback</a>

        </nav>
        <form>

            <input type="search" name="busca" class="busca" placeholder="Buscar">
            

        </form>
    </header>
</body>

</html>