<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="../layouts/header.css" rel="stylesheet">
</head>
<body>
    <header>
        <div div="div_1">
            <section>
                <img src="../assets/images/header/logo.png" width="100">
            </section>
        </div>
        <nav>
            <ul>
                <li><a class="anav_1" href="../index.html">Home</a></li>
                <li><a class="anav_2" href="../pages/contato.html"> Contato</a></li>
                <li><a class="anav_3" href="../pages/feedback.html">Feedback</a></li>
                
            </ul>
        </nav>
    </header>
    
</body>
</html>