h1 {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    text-align: justify;
}

body {
    background-color: #ffff;
    margin: 0;
}

#imgsobrenos {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#section_imgsobrenos {
    text-align: center;
    padding-top:80px;
}

.section_sobrenos {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px;
    display: flex;
}

#div_sobrenos {
    display: flex;
    padding: 10px;
}

.section_sobrenos1 {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px;
    display: flex;
    flex-direction: column;
}

#div_sobrenos1 {
    padding: 10px;
}

#title_sobrenos {
    text-align: center;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.section_membros {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    border-radius: 10px;
}

.div_membros {
    display: flex;
    text-align: center;
    border-radius: 10px;
}

.text_membros {
    text-align: justify;
    text-align: center;
}

#title_membros {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:80px;
}



#header {
    height: 250px;
}

#section_background {
    background-image: url("../../../images/saude/exercicios-fisicos.png");
    margin-top: -100px;
    background-repeat: no-repeat;
    background-size: cover;
}

#texto-central {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.p_1{
    text-align: center;
    color: rgb(255, 255, 255);
}

#div_gif{
    text-align: center;
    margin-left: 180px;
}